{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Items</h1>
    <ul class="grid">
        {% for item in items %}
            <li>
                <picture>
                    <a href="/items/show?id={{ item.id }}">
                        <img src="/uploads/{{ item.picture }}" alt="{{ item.title }}">
                    </a>
                    <figcaption>
                        {{ item.id }}. {{ item.title }}
                    </figcaption>
                </picture>
            </li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/items/add">Ajouter</a>
{% endblock %}
